<footer class="bg-gray-100 text-center lg:text-left">
  <div class="container p-6">
    <div class="grid lg:grid-cols-4 md:grid-cols-2">
      <div class="mb-6">
        <h5 class="uppercase mb-2.5 text-gray-800">Docs</h5>

        <ul class="list-none mb-0">
          <li>
            <a href="/docs/html5-docs" class="text-gray-800">HTML5</a>
          </li>
          <li>
            <a href="/docs/vue-docs" class="text-gray-800">Vue</a>
          </li>
          <li>
            <a href="/docs-angular-docs" class="text-gray-800">Angular</a>
          </li>
          <li>
            <a href="/docs/react-docs" class="text-gray-800">React</a>
          </li>
        </ul>
      </div>

      <div class="mb-6">
        <h5 class="uppercase  mb-2.5 text-gray-800">Demos</h5>

        <ul class="list-none mb-0">
          <li>
            <a href="/demo/html5-demo" class="text-gray-800">HTML5</a>
          </li>
          <li>
            <a href="/demo/vue-demo" class="text-gray-800">Vue</a>
          </li>
          <li>
            <a href="/demo/angular-demo" class="text-gray-800">Angular</a>
          </li>
          <li>
            <a href="/demo/react-demo" class="text-gray-800">React</a>
          </li>
        </ul>
      </div>

      <div class="mb-6">
        <h5 class="uppercase  mb-2.5 text-gray-800">Support</h5>

        <ul class="list-none mb-0">
          <li>
            <a href="https://github.com/girish1729/progress-up/issues"
class="text-gray-800">Issues? File a bug</a>
          </li>
          <li>
            <a href="mailto:girish@spamcheetah.com" class="text-gray-800">Custom work</a>
          </li>
          <li>
            <a href="/licensing" class="text-gray-800">Licensing</a>
          </li>
        </ul>
      </div>

      <div class="mb-6">
        <h5 class="uppercase mb-2.5 text-gray-800">Miscellaneous</h5>

        <ul class="list-none mb-0">
          <li>
            <a href="https://github.com/girish1729/progress-up" class="text-gray-800">Github</a>
          </li>
          <li>
            <a href="https://www.npmjs.com/progress-up" class="text-gray-800">Npm package page</a>
          </li>
          <li>
            <a href="/dependencies" class="text-gray-800">Dependencies</a>
          </li>
          <li>
            <a href="/future" class="text-gray-800">Future directions</a>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div class="text-gray-700 text-center p-4" style="background-color: rgba(0, 0, 0, 0.2);">
<a href="https://twitter.com/girish1729?ref_src=twsrc%5Etfw" class="twitter-follow-button" data-show-count="false">Follow @girish1729</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>


<script type="text/javascript"
src="https://cdnjs.buymeacoffee.com/1.0.0/button.prod.min.js" data-name="bmc-button" data-slug="girish1729" data-color="#FFDD00" data-emoji=""  data-font="Arial" data-text="Buy me a coffee" data-outline-color="#000000" data-font-color="#000000" data-coffee-color="#ffffff" ></script>

    &#169; 2022  Copyright
    <a class="text-gray-800"
href="https://progress-up.live/">Progress-up</a>
  </div>
</footer>
